<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="banner">
        
        <div class="head">
            <div class="title">Adopt a Friend</div>

            <div><a href="/Home" target="_blank">

                    <img class="img"
                        src="https://i.etsystatic.com/25520368/r/il/2ba32d/3730362457/il_570xN.3730362457_o8xh.jpg"
                        alt="dog and cat"></a></div>
        </div>
    </header>
</body>
</html>