<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div>
        <ul class="menu">
            <a class="active" href="/Home">Home</a>
            <a href="/Find_a_dog_or_cat">Find a dog/cat</a>
            <a href="/Dog_care">Dog Care</a>
            <a href="/Cat_care">Cat Care</a></li>
            <a href="/Create_an_account">Create an Account</a>
            <a href="/login"> Have a pet to give away</a>
            <a href="/Contact_Us"> Contact Us</a>
            <a href="/LogOut">LogOut</a>
        </ul>
    </div>

</body>
</html>
