<!DOCTYPE html>
<html lang="en">

<head>
  <title>Adopt A-Cat/Dog_Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/StyleSheet.css">
</head>

<body>

  <div id="body-container">
    <div id="content-wrap">

  <div id=getCurrentDate></div>
  
  <%-include("partials/Header.ejs")-%>
  <%-include("partials/SideMenu.ejs")-%>


  <div class="flex-container">


    <div class="flex-container1">
      <div class="description1">
        <h1>How to Take Care of a Cat</h1>


        <p><span>Nutrition:</span> A balanced diet is necessary for cats to stay healthy. It's critical to provide them
          the
          proper proportion of lipids, proteins, carbs, and other nutrients, as well as vitamins and minerals. To find
          the
          ideal diet for your cat given its breed, age, and level of activity, speak with your veterinarian. Also make
          sure there is fresh water available. Tips for a healthy diet:</p>
        <ul>
          <li>Buy high quality commercial cat food or make a homemade balanced diet.</li>
          <li>Avoid foods containing xylitol such as chocolate, garlic, raisins, grapes, onions and other since they are
            poisonous for cats.</li>
          <li>Monitor their weight and adjust their diet accordingly to avoid obesity and keep your cat healthy.</li>
        </ul>

        <p><span>Grooming:</span>Maintaining the hygiene and well-being of your cat requires regular grooming sessions.
          It's also an occasion to look for any indications of cuts, parasites, or skin problems. The breed, coat type,
          and activity level of your cat will determine its grooming requirements.Basic grooming can be simple as:</p>
        <ul>
          <li>Regularly brushing his fur to removes avoid matting and remove loose hair.</li>
          <li>Trimming the nail at a comfortable length and prevent overgrowth and potential injuries.</li>
          <li>Brushing the teeth of your cat and cleaning his ears to prevent dental problems and infections.</li>
        </ul>
        <p><span>Exercise:</span>Cats require daily exercise to keep their general health and well-being. Exercise
          stimulates
          the mind, builds muscle, and aids in preventing the accumulation of fat. Your cat's needs for exercise will
          vary
          depending on its breed, age, and overall health.</p>
        <ul>
          <li>Make your cat engage in interactive games.</li>
          <li> Set up climbing shelves or cat three to encourage the activity and the curiosity of your cat. </li>
        </ul>


      </div>
    </div>


    <div class="dog">
      <a href="https://www.cozycatfurniture.com/image/catalog/infographic-how-to-help-a-new-cat-to-adapt.jpg">
        <img class=dog
          src="https://www.cozycatfurniture.com/image/catalog/infographic-how-to-help-a-new-cat-to-adapt.jpg"
          alt="Infographics to take care of a cat">
      </a>
    </div>
  </div>
    </div>
  <%-include("partials/Footer.ejs")-%>
  </div>
  <script src="../scripts/JSsheet.js"></script>
</body>


</html>