<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adopt A-Cat/Dog_Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/StyleSheet.css">

</head>

<body>
    <div id="body-container">
        <div id="content-wrap">

    <div id=getCurrentDate></div>
    
    <%-include("partials/Header.ejs")-%>
    <%-include("partials/SideMenu.ejs")-%>
    
    <div class="flex-container">

        <div class="flex-container1">
             <div class="description1">
            <h1>Contact Us!</h1>
            <p>Our team would love to hear your feedback and guide you in your search. Please contact us for further
                information. You can expect a response within a delay of 7 business days.</p>
        </div>
        <fieldset class="fieldset1">
            <legend>
                <h2>Contact Information</h2>
            </legend>
            <p>Name: Carla Chamandi</p>
            <p>ID: 40300354</p>
            <p>Email: carlachamandi@gmail.com</p>
        </fieldset>
    </div>
    </div>
</div>
    <%-include("partials/Footer.ejs")-%>
    </div>
    <script src="../scripts/JSsheet.js"></script>
</body>


</html>