<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adopt A-Cat/Dog_Home</title>
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/styles/StyleSheet.css">
</head>

<body>
    <div id="body-container">
        <div id="content-wrap">
    <div id=getCurrentDate></div>

    <%-include("partials/Header.ejs")-%>
    <%-include("partials/SideMenu.ejs")-%>

        <div class="flex-container">

                <div class="description1" style="margin-bottom:100px ;">
                    <div>
                        <h1 style="margin-bottom: 20px;margin-top: 50px">Create an Account</h1>
                        
                            <form action="/Create_an_account" method="post" name="createAccountForm" onsubmit="return validateCreation(event)">
                                <p>Please enter your username and password to create an account. Your username may include uppercase and lowercase letters, as well as digits. Your password must be at least 4 characters long and must contain both letters and digits.</p>
                                <label for="username">Username: </label>
                                <input type="text" id="username" name="username" placeholder="letters and digits" required><br>
                                <br>
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" placeholder="letters and digits (4 digits minimum)" required>
                                <br><br>
                                <input class="mybutton" type="submit" value="Create account">
                            </form>
                            <% if (typeof message !== "undefined") { %>
                                <p><%= message %></p>
                            <% } %>
                     



                    </div>
                </div>
        </div>
        </div>
        <%-include("partials/Footer.ejs")-%>
        </div>
            <script src="../scripts/JSsheet.js"></script>
</body>


</html>