<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adopt A-Cat/Dog_Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/StyleSheet.css">
</head>

<body>
    <div id="body-container">
        <div id="content-wrap">
    <div id=getCurrentDate></div>

    <%-include("partials/Header.ejs")-%>
    <%-include("partials/SideMenu.ejs")-%>
    
    <div class="flex-container">

        <div class="flex-container1">
            <div class="description1">
            <h1>Privacy Disclaimer</h1>
            <div class="disclamer">

                <h4 style="margin: 10px;"> The Adopt a friend team takes the privacy and the security of their clients seriously. Therefore,
                    any
                    pet owner or future pet owner can be reassured that all their data will be kept safe. Hence, our
                    team
                    will not
                    sell or misuse the information and will protect the website builder from any incorrect information
                    posted by a
                    pet owner and so on. </h4>
            </div>
        </div>
    </div>

    </div>
        </div>
    <%-include("partials/Footer.ejs")-%>
</div>
    <script src="../scripts/JSsheet.js"></script>
</body>


</html>