<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adopt A-Cat/Dog_Home</title>
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/styles/StyleSheet.css">
</head>

<body>
    <div id="body-container">
        <div id="content-wrap">
            <div id=getCurrentDate></div>

            <%-include("partials/Header.ejs")-%>
            <%-include("partials/SideMenu.ejs")-%>
                <div class="flex-container">
                   

                        <div class="description1" style="margin-bottom:100px ;">
                            <div>
                                <h1 style="margin-bottom: 20px;margin-top: 50px">Welcome to Adopt a Friend</h1>
                            </div>
                            <p> The mission of the Adopt a friend team is to ensure a forever home to all the pets under
                                our care.
                                Therefore, our team is eager to present our new website that has been carefully created
                                by are the team
                                to easy the adopting process for future pet owners. The website offers a larger
                                visibility of all the
                                different breeds of cats and dogs available at the tip of your fingers. Explore the
                                different tools and
                                option to help you make a choice in the adoption of your new furry friend! </p>

                        </div>

                </div>




        </div>
        <%-include("partials/Footer.ejs")-%>
    </div>
    <script src="../scripts/JSsheet.js"></script>
</body>


</html>