<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adopt A-Cat/Dog_Home</title>
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/styles/StyleSheet.css">

    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 3000); 
    </script>
</head>

<body>
<div id="body-container">
        <div id="content-wrap">
    <div id=getCurrentDate></div>

    <%-include("partials/Header.ejs")-%>
    <%-include("partials/SideMenu.ejs")-%>

        <div class="flex-container">

                <div class="description1" style="margin-bottom:100px ;">
                    <div>
                        <h1 style="margin-bottom: 20px;margin-top: 50px">LogOut</h1>
                        
                    </div>

                     <% if (typeof message !=="undefined" ) { %>
                        <p>
                            <%= message %>
                        </p>
                        <% } %>
                </div>

        </div>




        </div>
        </div>
        <%-include("partials/Footer.ejs")-%>
    </div>
            <script src="../scripts/JSsheet.js"></script>
</body>


</html>